
.main-wrapper {
  position: relative;
  padding: 3rem 0;

  .blur {
    opacity: 0.5;
  }

  &__headers {
    display: flex;
    align-items: center;
    background: white;
    position: sticky;
    z-index: 1;
    padding: 1rem 0;
    justify-content: space-between;

    .title-main-wrapper {
      display: flex;
      align-items: center;

      @media screen and (max-width: $small) {
        justify-content: center;
      }
    }

    .title-wrapper {
      line-height: 20px;
      @media screen and (max-width: $small) {
        text-align: center;
        margin-bottom: 1rem;
      }
    }

    .title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .action-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: $small) {
      justify-content: center;
    }
  }
  
  .action-buttons {
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .fa-chevron-down {
      font-size: 12px;
      margin-left: 5px;
    }
    
    .dropdown-content {
      padding: 0;
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;

      &__item {
        cursor: pointer;
        padding: 0.5rem;
        width: 100%;
        list-style: none;
        transition: 300ms;
        &:hover {
          background: gainsboro;
        }
      }
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }  

  .toasty-container {
    transition: 300ms;
    width: 100%;
    padding: 0.2rem;
    text-align: center;
    background: white;
    color: white;
    z-index: 5;
    right: 0;
    position: fixed;
    top: 0;

    .okay-button {
      position: absolute;
      right: 1rem;
    }
  }
  
}