.image-container {
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hover-actions {
    position: absolute;
    opacity: 0;
    transition: 300ms;
    top: 8px;
    left: 2.2rem;

    .form-check-input {
      height: 20px;
      width: 20px;
    }  
  }

  .visible {
    opacity: 1;
  }
  
  &:hover .hover-actions {
    opacity: 1;
  }

  .image-wrapper {
    width: 100%;
    height: 165px;
    background: gainsboro;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      max-width: 100%;
      max-height: 100%;
    }
  }



}