.modal {
  display: block;
  position: fixed; 
  z-index: 1; 
  transition: 300ms;
  padding-top: 150px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  width: 520px;
  overflow-wrap: anywhere;

  @media screen and (max-width: $small) {
    width: 100vw;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold;
  }

  &__header {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  &__view-image-wrapper {
    height: 300px;
    background: gainsboro;
    border-radius: 5px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;

    .image-preview {
      object-fit: contain;
      width: 100%;
    }
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.thumb {
  position: relative;
  margin-right: 1rem;
  margin-top: 1rem;
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin-bottom: 8;
  margin-right: 8;
  width: 100px;
  height: 100px;
  padding: 4;
  box-sizing: border-box;

  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    border-radius: 50%;
    background: gainsboro;
    transition: 300ms;
    color: red;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 30px;

    &:hover {
      background: darken(gainsboro, 10);
    }

    .times {
      margin-top: -6px;
    }
  }
}

.dropzone {
  border: 1px solid gainsboro;
  padding: 2rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.no-file-message {
  margin: 5rem 2rem;
  text-align: center;
}

.thumb-inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.not-allowed {
  cursor: not-allowed
}

.thumb-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.thumb-image {
  display: block;
  width: auto;
  height: 100%;
}

.modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}